{% extends 'travelbuddy/_base.html' %}
{% load tailwind_filters %}

{% block content %}
    <div class="max-w-lg mx-auto">
        <h1 class="text-4xl underline underline-offset-4 mb-8">Note Form</h1>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-4">
                <label for="{{ form.name.id_for_label }}" class="block text-sm font-medium text-gray-700">Name</label>
                {{ form.name }}
            </div>

            <div class="mb-4">
                <label for="{{ form.description.id_for_label }}" class="block text-sm font-medium text-gray-700">Description</label>
                {{ form.description }}
            </div>

            <div class="mb-4">
                <label for="{{ form.type.id_for_label }}" class="block text-sm font-medium text-gray-700">Type</label>
                {{ form.type }}
            </div>

            <div class="mb-4">
                <label for="{{ form.rating.id_for_label }}" class="block text-sm font-medium text-gray-700">Rating</label>
                {{ form.rating }}
            </div>

            <div class="mb-4">
                <label for="{{ form.img.id_for_label }}" class="block text-sm font-medium text-gray-700">Image</label>
                {{ form.img }}
            </div>

            <div class="flex items-center">
                <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600 focus:outline-none focus:shadow-outline-green active:bg-green-700">
                    Save
                </button>
            </div>
        </form>
    </div>
{% endblock content %}
